<h1>New Sub</h1>

<form action="<%= subs_url %>" method="post">
  <%= form_auth_token %>
  <label>Sub Name
    <input name="sub[name]" type='text'>
  </label><br>
  <br>
  <% @sub.links.each_with_index do |link, i| %>
    <fieldset>
    <input type="hidden" name="links[<%= i %>][id]" value="<%= link.id %>">

    <input type="hidden" name="links[<%= i %>][submitter_id]" value="<%= current_user.id %>">


    <label>Title
      <input type="text" name="links[<%= i %>][title]" value="<%= link.title %>">
    </label>
    <br>

    <label>URL
      <input type="text" name="links[<%= i %>][url]" value="<%= link.url %>">
    </label>
    <br>

    <label>Body
      <input type="text" name="links[<%= i %>][body]" value="<%= link.body %>">
    </label>
    <br>
    </fieldset>
    <br>
  <% end %>
  <br>
  <input type='submit' value='New Sub'>
</form>
